# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=140101

# Server
SV_PORT=8080

# JWT
JWT_SECRET=QWERTYUIOPASDFGHJKLZXCVBNM1234567890abcdefABCDEFGH
JWT_EXPIRATION_ACCESS=3600000
JWT_EXPIRATION_REFRESH=604800000

# Frontend
FRONTEND_URL=http://localhost:5173

# Mail
MAIL_USER=bninamango.personal@gmail.com
MAIL_PASSWORD=gngimxpjsukcpzao